name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - master   # если у тебя основная ветка называется master, поменяй на master
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

jobs:
  build_and_deploy_job:
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v3

      - name: Build And Deploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
          app_location: "/"        # корень проекта, где лежит package.json
          api_location: ""         # если нет backend-функций, оставляем пустым
          output_location: "build" # папка, которую создаёт npm run build
